@import 'variable';

// -------------------------------- Zone Tag All ----------------------------------- //
*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Sarabun' ;
}

li{
    list-style: none;
}
a{
    color: $main_color;
    text-decoration: none;
}
h2{
    font-size: 1.5vw;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}

// -------------------------------- End Zone Tag All ------------------------------ //

// --------------------------------- Head ---------------------------------------- //
nav{
    height: 105px;
    z-index: 2;
    position: fixed;
    width: 100%;
    
    .topnav{
        background: #fff;

        @media screen and (min-width:1025px) {
            display: flex;
            padding: 1% 5%;
            border-radius: 0 0 20px 20px;
            box-shadow: 0px 0px 15px #0000009e;
        }
        
        .logo-nav{
            @media screen and (min-width:1025px) {
                width: 50%;
            }
            

            figure{

                img{
                    max-width: 100%;
                }
            }
        }

        .nav-menu{
            @media screen and (min-width:1025px) {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a{
                    font-size: 1vw;
                }
            }
        }
    }
}

.slider{
    @media screen and (min-width:1025px) {
        // position: absolute!important;
        // top: 5%;
    } 
}

.search-box{
    background-image: url(/img/BG.png);
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width:1025px) {
       width: 100%;
       height: 100%;
       padding: 2% 0;
    } 

    h2{
        text-align: center;
        color: #fff;
        margin-bottom: 3%;
    }

    .box{
        display: flex;
        width: 60%;
        margin: 0 auto;

        .left-box{
            width: 50%;
            padding: 0 3%;
            border-right: 1px solid #fff;

            .fortune-num{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 5% 0;

                input{
                    width: 70%;
                    height: 100%;
                    @include input-round();
                }
                a{
                    width: 20%;
                    button{
                        width: 100%;
                        @include button-round();
                    }
                }
                
            }

            .search-num{
                margin: 5% 0;

                label{
                    color: $background_main;
                    margin-right: 5%;
                }

                .search-box-num{
                    width: 6%;
                    padding: 1%;
                    border-radius: 20%;
                    border: unset;
                    text-align: center;
                }
            }

            .cate-num{
                margin: 5% 0;

                select{
                    @include select-round();
                    width: 100%;
                } 
            }

            .sum-network{
                display: flex;
                justify-content: space-between;
                margin: 5% 0;

                .sum-num{
                    width: 48%;

                    select{
                        @include select-round();
                        width: 100%;
                    }
                }

                .network{
                    width: 48%;

                    select{
                        @include select-round();
                        width: 100%;
                    }
                }
            }

            .search-some{
                margin: 5% 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                label{
                    color: $background_main;
                    
                }
                input{
                    @include input-round();
                    width: 70%;
                }
            }

            .range-price{
                margin: 5% 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                label{
                    color: $background_main;
                }

                .keed{
                    border-top: 2px solid $background_main;
                    width: 5%;
                    margin: auto 0;
                }

                input{
                    width: 25%;
                    text-align: center;
                    @include input-round;
                }
            }
        }
        .right-box{
            width: 50%;
            border-left: 1px solid #fff;
            padding: 0 5%;

            .favorite-num{
                .favorite,.kirai{
                    margin-bottom: 5%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    label{
                        color: $background_main;
                    }

                    .button-num{
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                        
                        button{
                            background: inherit;
                            border: unset;
                            border-radius: 20%;
                            cursor: pointer;
                            color: $background_main;
                            padding: 3%;
                            font-size: 1rem;
    
                            &:focus{
                                outline: none;
                            }
                        }
                        .active-button{
                            background: $background_main;
                            color: #733f05;
                        }
                    }
                }
            }

            .improve-luck{
                margin-bottom: 5%;

                span{
                    color: $background_main;
                    font-size: 1.2rem;
                }

                .luck-box{
                    display: grid;
                    grid-template-columns: repeat(7,13%);
                    grid-gap: 6px;

                    .button1,.button2,.button3,.button4,.button5,.button6,.button7{
                        display: flex;
                        flex-direction: column;
                        background: #fff;
                        border-radius: 10%;
                        padding: 0 10%;
                        cursor: pointer;

                        figure{
                            text-align: center;

                            img{
                                width: 80%;
                            }
                        }

                        label{
                            text-align: center;
                            color: $price_color;
                            cursor: pointer;
                        }
                    }
                }
            }

            .ber-goodluck{
                position: relative;
                height: 40%;

                span{
                    color: $background_main;
                    font-size: 1.2rem;
                }

                .goodluck-box{
                    display: grid;
                    grid-template-columns: repeat(7,13%);
                    grid-gap: 6px;
                    grid-row-gap: 25px;
                    

                    .button1,.button2,.button3,.button4,.button5,.button6,.button7{
                        display: flex;
                        flex-direction: column;
                        background: #fff;
                        border-radius: 10%;
                        padding: 0 10%;
                        cursor: pointer;

                        figure{
                            text-align: center;

                            img{
                                width: 80%;
                            }
                        }

                        label{
                            text-align: center;
                            color: $price_color;
                            cursor: pointer;
                        }
                    }

                    
                }  
                
                .recomment-num{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 30%;
                    text-align: center;

                    span{
                        font-size: 1rem;
                    }

                    .button{
                        display: flex;
                        flex-direction: column;
                        background: #fff;
                        border-radius: 10%;
                        padding: 0 10%;
                        cursor: pointer;
                        width: 55%;
                        margin: 0 auto;

                        figure{
                            text-align: center;

                            img{
                                width: 80%;
                            }
                        }

                        label{
                            text-align: center;
                            color: $price_color;
                            cursor: pointer;
                        }
                    } 
                }
            }
        }  
    }

    .button-form{
        text-align: center;
        margin: 2% 0;

        button{
            @include button-round();
            width: 8%;
            margin: 0 2%;
        }
    }
}

.content{
    display: grid;
    
    @media screen and (min-width:481px) and (max-width:768px) {
        grid-template-columns: 25% 73%;
        grid-gap: 2%;
    }
    @media screen and (min-width:1024px) {
        grid-template-columns: 25% 73%;
        grid-gap: 2%;
    }

    .side-menu{
        .menu-box{
            .head-text{
                @include head_menu_text();
            }
    
            .menu{
                @include menu();
                ul{
                    li{
                        a{
                            &:hover:before{
                                content: url(/img/icon/icon.png);
                            }
                        }
                    }
                }
            }
        }

        .payment-box{
            .head-text{
                @include head_menu_text();
            }

            figure{
                img{
                    width: 100%;
                }
            }
        }

        .last-release{
            .head-text{
                @include head_menu_text();
            }

            .menu{
                @include menu();
            }
        }
        
        .ems{
            .head-text{
                @include head_menu_text();
            }

            .ems-trackbox{
                background: linear-gradient(#c5a04f,#8e5415);
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                padding: 5%;

                span{
                    margin: 4% 0;
                    color: $sideMenu_color;
                    font-size: 1.2vw;
                }

                button{
                    padding: 5% 10%;
                    border: unset;
                    background: #fff;
                    color: $price_color;
                    border-radius: 30px;
                    cursor: pointer;

                    &:focus{
                        outline: none;
                    }
                }
            }
        }

        .article{
            .head-text{
                @include head_menu_text();
            }
            .menu{
                @include menu();
                a{
                    justify-content: unset!important;
                    align-items: center;

                    figure{
                        @media screen and (min-width:481px) and (max-width:768px) {
                            width: 20%;
                            height: 2rem;
                        }
                        @media screen and (min-width:769px) and (max-width:1024px) {
                            width: 10%;
                            height: 2rem;
                        }
                        @media screen and (min-width:1025px) {
                            width: 10%;
                            height: 2rem;
                        }
    
                        img{
                            max-width: 100%;
                            height: 100%;
                        }
                    }

                    span{
                        margin-left: 5%;
                    }
                }
            }
        }

        .sum-nubmer{
            .head-text{
                @include head_menu_text();
            }

            .menu{
                @include menu();
                ul{
                    li{
                        a{
                            &:hover:before{
                                content: url(/img/icon/icon.png);
                            }
                        }
                    }
                }
            }
        }

        .provicy{
            figure{
                margin: 5% 0;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }  
}
.review{
    margin: 3% 0;
    background: linear-gradient(#c5a04f,#8e5415);

    .review-box{
        .head-text{
            display: flex;
            justify-content: center;
            position: relative;
            padding: 1% 0;

            h2{
                color: #fff;
            }

            a{
                position: absolute;
                right: 0;

                button{
                    padding: 10%;
                    border-radius: 5px;
                    border: unset;
                    cursor: pointer;
                    font-size: .8vw;
                }
            }
        }

        .slide-review{
            padding: 5% 2%;

            figure{
                height: 300px;
                position: relative;
                cursor: pointer;
                
                img{
                    height: 100%;
                    object-fit: cover;
                }
                .hover-img{
                    display: none;
                    opacity: 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: #00000073;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    i,span{
                        color: #fff;
                        font-size: 2vw;
                    }
                }

                &:hover .hover-img{
                    display: flex;
                    opacity: 1;
                    transition: all .5s;
                }
            }

            .owl-stage-outer{
                z-index: 1;
            }

            .owl-nav{
                display: flex !important;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                left: 0;
                justify-content: space-between;

                button{
                    &:focus{
                        outline: none;
                    }
                    span{
                        font-size: 2vw;
                        color: #fff;
                    }
                }
            }
        }
    }
}

footer{
    display: grid;

    @media screen and (min-width:768px) and (max-width:1023px) {
        grid-template-columns: 15% 20% 20% 25% 20%;
        padding: 0 2%;
    }
    @media screen and (min-width:1024px) {
        grid-template-columns: 15% 20% 20% 25% 20%;
        padding: 0 2%;
    }
    
    .logo{
        figure{
            img{
                max-width: 100%;
            }
        }
    }

    .certificate{ 
        text-align: center;

        figure{
            margin: 2% 0;

            img{
                max-width: 100%;
            }
        }
    }

    .contact{
        margin: 0 10%;
        h3{
            margin: 4% 0;
        }
        .address{
            margin: 2% 0;
        }
    }

    .service{
        margin: 0 auto;

        h3{
            margin: 8% 0;
        }
        ul{
            margin: 4% 0;
            li{
                a{

                }
            }
        }
    }

    .other-text{
        h3,p{
            margin: 4% 0;
        }
        h3{
            height: 24px;
            overflow: hidden;
        }
    }
}

.copy-right{
    background: linear-gradient(#c5a04f,#8e5415);

    p{
        color: #ffffff44;
        text-align: center;
        a{
            color: inherit;
        }
    }
}