@import 'variable';

.main-content{ 
    @media screen and (max-width:767px) {
        grid-area: content;
    }

    .head-text{
        display: flex;
        justify-content: space-between;
        margin: 1% 0;

        .left{
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @media screen and (min-width:481px) {
                flex-direction: unset;
                width: 25%;
            }

            span{
                font-size: 1rem;
                font-weight: bolder;

                @media screen and (min-width:1024px) {
                    font-size: 1.5rem;
                }
            }
            span:nth-child(2){
                color: #d00808;
            }
        }
        .right{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 50%;

            @media screen and (min-width:481px) {
                width: 35%;
            }

            .network,.grade{
                margin-left: 3%;
                width: 50%;

                select{
                    background: linear-gradient(#c5a04f,#8e5415);
                    border: unset;
                    border-radius: 5px;
                    color: #fff;
                    padding: 6%;

                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }

    .grid-content{
        display: grid;
        margin: 3% 0;
        grid-template-columns: repeat(1,100%);  

        @media screen and (min-width:768px) and (max-width:1023px) {
            grid-template-columns: repeat(2,49%);
            grid-gap: 2%;
            grid-row-gap: 10px;
        }
        @media screen and (min-width:1024px) {
            grid-template-columns: repeat(3,32.66%);
            grid-gap: 1%;
            grid-row-gap: 10px;
        }

        .box{
            display: grid;
            grid-template-columns: 20% 50% 30%;
            padding: 4% 0;
            border-bottom: 1px solid gray;

            .logo{
                figure{
                    img{
                        max-width: 100%;
                    }
                }
            }

            .number{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 10%;

                span:nth-child(1){
                    font-size: 1.8rem;
                    font-weight: bolder;

                    @media screen and (min-width:768px) and (max-width:1023px) {
                        font-size: 1.5rem;
                    }
                    @media screen and (min-width:1024px) {
                        font-size: 1.8vw;
                    }
                }
                .sum-num{
                    color: gray;
                    font-size: .8rem;
                }
            }

            .detail{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .rank{
                    figure{
                        text-align: end;

                        img{
                            max-width: 100%;
                        }
                    }
                }

                .price{
                    color: $price_color;
                    font-size: 1.2rem;
                    text-align: end;

                   

                }

                .icon{
                    color: gray;
                    font-size: 1.2rem;
                    display: flex;
                    justify-content: space-evenly;
                    
                    i{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .pagination{
        display: flex;
        justify-content: space-between;
        margin: 3% 0;

        a{
            color: gray;

            &:hover{
                color: #000;
                transform: scale(1.2);
                transition: all .2s;
            }
        }
        .current{
            color: #000;
        }
    }
}