.fortube-ber {
  margin: 5% 0;
}

.fortube-ber .fortune-box {
  background: url(/img/BG-fortune.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100px;
  border-radius: 20px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .fortune-box {
    height: 180px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fortube-ber .fortune-box {
    height: 200px;
  }
}

@media screen and (min-width: 1025px) {
  .fortube-ber .fortune-box {
    height: 280px;
  }
}

.fortube-ber .fortune-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.fortube-ber .fortune-box .box h1 {
  color: #f3f3f3;
}

@media screen and (max-width: 480px) {
  .fortube-ber .fortune-box .box h1 {
    font-size: 1.2rem;
  }
}

.fortube-ber .fortune-box .box .input {
  width: 60%;
  text-align: center;
  margin: 5% 0;
}

@media screen and (max-width: 480px) {
  .fortube-ber .fortune-box .box .input {
    width: 100%;
    margin: 3% 0;
  }
}

.fortube-ber .fortune-box .box .input input {
  width: 50%;
  padding: 2%;
  border-radius: 20px;
  border: unset;
  margin: 0 5%;
}

@media screen and (max-width: 480px) {
  .fortube-ber .fortune-box .box .input input {
    margin: 0 3%;
  }
}

.fortube-ber .fortune-box .box .input button {
  width: 15%;
  padding: 2%;
  border: unset;
  border-radius: 20px;
  background: #f3f3f3;
  color: #c19a4b;
  margin: 0 5%;
  font-size: 1rem;
  -webkit-box-shadow: 0px 5px 20px #0000009e;
          box-shadow: 0px 5px 20px #0000009e;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .fortube-ber .fortune-box .box .input button {
    margin: 0 3%;
    width: 30%;
  }
}

.fortube-ber .fortune-box .box-ber {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.fortube-ber .fortune-box .box-ber span {
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .fortube-ber .fortune-box .box-ber span {
    font-size: 1.5rem;
  }
}

.fortube-ber .fortune-box .box-ber h1 {
  font-size: 3rem;
  margin: 3% 0;
}

@media screen and (max-width: 480px) {
  .fortube-ber .fortune-box .box-ber h1 {
    font-size: 2rem;
  }
}

.fortube-ber .result-graph {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 65%;
      grid-template-columns: 30% 65%;
  grid-gap: 5%;
  margin: 5% 0;
}

@media screen and (max-width: 480px) {
  .fortube-ber .result-graph {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.fortube-ber .result-graph .result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  background: -webkit-gradient(linear, left top, left bottom, from(#c5a04f), to(#8e5415));
  background: linear-gradient(#c5a04f, #8e5415);
  padding: 2%;
  border-radius: 20px;
}

.fortube-ber .result-graph .result .left {
  color: #fff;
}

.fortube-ber .result-graph .result .left .ber span {
  font-size: 2rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .result-graph .result .left .ber span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fortube-ber .result-graph .result .left .ber span {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .fortube-ber .result-graph .result .left .ber span {
    font-size: 1.8rem;
  }
}

.fortube-ber .result-graph .result .left span {
  font-size: .8rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .result-graph .result .left .score {
    margin-top: 15%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fortube-ber .result-graph .result .left .score {
    margin-top: 10%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .fortube-ber .result-graph .result .left .score {
    margin-top: 6%;
  }
}

.fortube-ber .result-graph .result .left .score span:nth-child(1) {
  font-size: 3rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .result-graph .result .left .score span:nth-child(1) {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fortube-ber .result-graph .result .left .score span:nth-child(1) {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .fortube-ber .result-graph .result .left .score span:nth-child(1) {
    font-size: 2rem;
  }
}

.fortube-ber .result-graph .result .left .score span:nth-child(2) {
  font-size: 2rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .result-graph .result .left .score span:nth-child(2) {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fortube-ber .result-graph .result .left .score span:nth-child(2) {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .fortube-ber .result-graph .result .left .score span:nth-child(2) {
    font-size: 1.5rem;
  }
}

.fortube-ber .result-graph .result .right {
  color: #fff;
}

.fortube-ber .result-graph .result .right .grade {
  background: #fff;
  color: goldenrod;
  border-radius: 20px;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
}

.fortube-ber .result-graph .result .right .rank {
  font-size: 5rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .result-graph .result .right .rank {
    font-size: 3rem;
    margin-top: 25%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fortube-ber .result-graph .result .right .rank {
    font-size: 3rem;
    margin-top: 30%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .fortube-ber .result-graph .result .right .rank {
    font-size: 3rem;
    margin-top: 25%;
  }
}

.fortube-ber .result-graph .graph {
  background: #eeeeee;
  border-radius: 20px;
  position: relative;
  height: 150px;
}

.fortube-ber .result-graph .graph .select-data {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 20%;
}

@media screen and (max-width: 480px) {
  .fortube-ber .result-graph .graph .select-data {
    width: 45%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .result-graph .graph .select-data {
    width: 40%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fortube-ber .result-graph .graph .select-data {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .fortube-ber .result-graph .graph .select-data {
    width: 30%;
  }
}

.fortube-ber .result-graph .graph .select-data button {
  border: unset;
  border-radius: 20px;
  background: #c1c1c1;
  color: #fff;
  width: 40%;
  cursor: pointer;
  padding: 1%;
}

.fortube-ber .result-graph .graph .select-data .active-select-data {
  background: #c19a4b;
}

.fortube-ber .result-graph .graph .network {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.fortube-ber .result-graph .graph .grahp-data {
  display: block;
}

.fortube-ber .result-graph .graph .grahp-data .head-ber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  border-radius: 0 0 0 30px;
  -webkit-box-shadow: 0px 2px 5px #0000009e;
          box-shadow: 0px 2px 5px #0000009e;
}

@media screen and (max-width: 480px) {
  .fortube-ber .result-graph .graph .grahp-data .head-ber {
    width: 55%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .result-graph .graph .grahp-data .head-ber {
    width: 50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fortube-ber .result-graph .graph .grahp-data .head-ber {
    width: 50%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .fortube-ber .result-graph .graph .grahp-data .head-ber {
    width: 40%;
  }
}

.fortube-ber .result-graph .graph .grahp-data .head-ber figure {
  width: 15%;
  margin: auto 0;
}

.fortube-ber .result-graph .graph .grahp-data .head-ber figure img {
  max-width: 100%;
}

.fortube-ber .result-graph .graph .grahp-data .head-ber h2 {
  color: #daaa2c;
  font-size: 2rem;
}

@media screen and (max-width: 480px) {
  .fortube-ber .result-graph .graph .grahp-data .head-ber h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .result-graph .graph .grahp-data .head-ber h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fortube-ber .result-graph .graph .grahp-data .head-ber h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .fortube-ber .result-graph .graph .grahp-data .head-ber h2 {
    font-size: 1.5rem;
  }
}

.fortube-ber .result-graph .graph .grahp-data .data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (11.11%)[9];
      grid-template-columns: repeat(9, 11.11%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65%;
  padding: 0 5%;
}

.fortube-ber .result-graph .graph .grahp-data .data .range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .8rem;
  padding-bottom: 25%;
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy {
  height: 75px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .aplus, .fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .a, .fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .bplus, .fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .b, .fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .cplus, .fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .c, .fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .d, .fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .f {
  -webkit-box-shadow: 2px 2px #3c3b3b42;
          box-shadow: 2px 2px #3c3b3b42;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .aplus {
  background: -webkit-gradient(linear, left top, left bottom, from(#16cf4d), to(#0b6827));
  background: linear-gradient(#16cf4d, #0b6827);
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .a {
  background: -webkit-gradient(linear, left top, left bottom, from(#c9f9dd), to(#2c9200));
  background: linear-gradient(#c9f9dd, #2c9200);
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .bplus {
  background: -webkit-gradient(linear, left top, left bottom, from(#e2f9d0), to(#8bcf02));
  background: linear-gradient(#e2f9d0, #8bcf02);
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .b {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdeb17), to(#f5ac00));
  background: linear-gradient(#fdeb17, #f5ac00);
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .cplus {
  background: -webkit-gradient(linear, left top, left bottom, from(#f97400), to(#e2cb00));
  background: linear-gradient(#f97400, #e2cb00);
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .c {
  background: -webkit-gradient(linear, left top, left bottom, from(#f97d00), to(#ac0101));
  background: linear-gradient(#f97d00, #ac0101);
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .d {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#430202));
  background: linear-gradient(#ff0000, #430202);
}

.fortube-ber .result-graph .graph .grahp-data .data .gradegraph .candy .f {
  background: -webkit-gradient(linear, left top, left bottom, from(#680b0b), to(#2d0000));
  background: linear-gradient(#680b0b, #2d0000);
}

.fortube-ber .button .button-contact {
  width: 15%;
  height: 60px;
  margin: 0 1%;
  background: -webkit-gradient(linear, left top, left bottom, from(#885013), to(#582d00));
  background: linear-gradient(#885013, #582d00);
  border: unset;
  border-radius: 20px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .fortube-ber .button .button-contact {
    width: 47%;
    margin: 2% 1%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .button .button-contact {
    width: 47%;
    margin: 2% 1%;
    font-size: 1.5rem;
  }
}

.fortube-ber .button .button-shop {
  width: 30%;
  height: 60px;
  margin: 0 1%;
  border: unset;
  border-radius: 20px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .fortube-ber .button .button-shop {
    width: 47%;
    margin: 2% 1%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fortube-ber .button .button-shop {
    width: 47%;
    margin: 2% 1%;
    font-size: 1.5rem;
  }
}

.fortube-ber .button .buynow {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6403f), to(#a90504));
  background: linear-gradient(#f6403f, #a90504);
}

.fortube-ber .button .cart {
  background: -webkit-gradient(linear, left top, left bottom, from(#fa9a46), to(#cb6002));
  background: linear-gradient(#fa9a46, #cb6002);
}

.fortube-ber .head-text-fortune {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fortube-ber .head-text-fortune .head-text {
  text-align: center;
  margin: 6% 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#c5a04f), to(#8e5415));
  background: linear-gradient(#c5a04f, #8e5415);
  padding: 1%;
  border-radius: 10px 60px 10px 10px;
  width: 90%;
}

.fortube-ber .head-text-fortune .head-text h1, .fortube-ber .head-text-fortune .head-text h2 {
  color: #fff;
}

@media screen and (max-width: 480px) {
  .fortube-ber .head-text-fortune .head-text {
    width: 80%;
  }
}

.fortube-ber .head-text-fortune .manual {
  color: #8f5315;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .fortube-ber .head-text-fortune .manual {
    width: 20%;
  }
}

.fortube-ber .head-text-fortune .manual span {
  margin: 0 5%;
}

.fortube-ber .detail-zone .box {
  padding: 0 2% 2% 2%;
  border-bottom: 1px solid gray;
}

.fortube-ber .detail-zone .box .head-detail {
  margin: 5% 0;
}

.fortube-ber .detail-zone .box .head-detail h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 480px) {
  .fortube-ber .detail-zone .box .head-detail h3 {
    font-size: 1rem;
  }
}

.fortube-ber .detail-zone .box .head-detail h3 .no0, .fortube-ber .detail-zone .box .head-detail h3 .no1, .fortube-ber .detail-zone .box .head-detail h3 .no2, .fortube-ber .detail-zone .box .head-detail h3 .no3, .fortube-ber .detail-zone .box .head-detail h3 .no4, .fortube-ber .detail-zone .box .head-detail h3 .no5, .fortube-ber .detail-zone .box .head-detail h3 .no6, .fortube-ber .detail-zone .box .head-detail h3 .no7 {
  color: lightgray;
}

.fortube-ber .detail-zone .box .head-detail h3 .no0 {
  margin-left: 1%;
}

.fortube-ber .detail-zone .box .head-detail h3 .no7 {
  margin-right: 1%;
}

.fortube-ber .detail-zone .box .head-detail h3 .pair {
  color: #c19a4b;
}

.fortube-ber .detail-zone .box .detail p {
  text-indent: 2%;
}

@media screen and (max-width: 480px) {
  .fortube-ber .detail-zone .box .detail p {
    font-size: .8rem;
    text-indent: 5%;
  }
}
/*# sourceMappingURL=product.css.map */